<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="common_head(title,links,scripts)">
    <meta charset="UTF-8">
    <title th:replace="${title}">Title</title>
    <!--<link rel="stylesheet" th:href="@{/webjars/layui/2.4.5/css/layui.css}">-->
    <link rel="stylesheet" href="https://www.layuicdn.com/layui-v2.4.5/css/layui.css">

    <script src="https://www.layuicdn.com/layui-v2.4.5/layui.js"></script>
    <!--<script th:src="@{/webjars/layui/2.4.5/layui.js}"></script>-->
    <link rel="stylesheet" th:href="@{/css/common/common.css}">
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="icon" th:href="@{/image/favicon.ico}" type="image/x-icon" />
    <link rel="shortcut icon" th:href="@{/image/favicon.ico}" type="image/x-icon" />

    <script th:inline="javascript">
        var contextPath=[[${#httpServletRequest.getContextPath()}]];
        var userInfo = [[${session.userInfo}]];
    </script>

    <script>
        layui.use(['layer', 'form','element'], function(){ });
        layui.config({
            base:contextPath +'/js/common/'
        }).extend({ //设定模块别名
            comment: 'comment',
            article: 'article',
            lwUtil:'lwUtil'
        });
    </script>
    <th:block th:replace="${scripts}" />
    <th:block th:replace="${links}" />
</head>
</body>
</html>