<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="html/common/common_head :: common_head(~{::title},~{::link},~{::script})">
    <title>设置</title>
    <link rel="stylesheet" th:href="@{/css/customTypes.css}">
    <script th:src="@{/js/customTypes.js}"></script>
</head>
<body>
<div th:replace="html/common/header::header"></div>
<div class="main">
    <div class="head-div">
        <div class="title">
            <div class="layui-row">
                <div class="layui-col-md6">
                    <h3 style="color:#00B5AD;font-weight: 600">分类</h3>
                </div>
                <div class="layui-col-md6" style="text-align: right">
                    共&nbsp;<span style="color: #F2711C;font-size:18px;font-style: italic" class="num"></span>&nbsp;个
                </div>
            </div>
        </div>
        <!--个人分类列表-->
        <div class="customTypeList">
            <div class="item"><a href="/web/customTypes">主页</a></div>
        </div>
    </div>
    <div class="content-div">
        <div class="articleList"></div>
        <div id="pagination"></div>
    </div>
</div>
</body>
</html>