<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="html/common/common_head :: common_head(~{::title},~{::link},~{::script})">
    <title>设置</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <script th:src="@{/js/index.js}"></script>
</head>
<body>
<div th:replace="html/common/header::header"></div>
<div class="main layui-row layui-col-space15">
    <div class="layui-col-md3">
        <div class="main-left">
            <!--博主信息-->
            <div class="myCard">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md4">
                        <div class="img_wrapper"><img id="" th:src="@{/image/index_avatar.png}" style="width:100%;height:100%;"></div>
                    </div>
                    <div class="layui-col-md8">
                        <div id="name">林威</div>
                        <div id="sign">
                            时间过的好快
                        </div>
                    </div>
                </div>
                <div class="contact">
                    <a style="color:green">微信：shenge6</a>
                </div>
            </div>
            <!--最新评论-->
            <div class="comment-div myCard">
                <div class="aside-title">
                    最新评论
                </div>
                <div class="aside-content">
                    <!--评论区域-->
                    <ul class="commentList"></ul>
                    <!--评论分页-->
                    <div id="commentPagination" style="text-align: center"></div>
                </div>
            </div>

        </div>
    </div>

    <div class="layui-col-md6">
        <div class="main-mid">
            <div class="articleList"></div>
            <div id="pagination"></div>
        </div>
    </div>
    <div class="layui-col-md3">
        <div class="main-left">
            <div class="myCard notice">
                <div class="aside-title">
                    公告
                </div>
                <div class="aside-content">
                    <p>终于发布了v1.0版本</p>
                    <p>管理后台抽个时间再写</p>
                </div>
            </div>

            <div class="website myCard">
                <div class="aside-title">
                    网站信息
                </div>
                <div class="aside-content">
                    <p>文章总数：<span class="articleNum num"></span></p>
                    <p>评论总数：<span class="commentNum num"></span></p>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>