<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="/html/common/common_head :: common_head(~{::title},~{::link},~{::script})">
    <title>设置</title>
    <link rel="stylesheet" th:href="@{/css/pubArticle_success.css}">
    <script th:inline="javascript">
        var articleId = [[${articleId}]];
    </script>

</head>
<body>
<div th:replace="/html/common/header::header"></div>
<div class="main">
    <div class="main_wrapper">
        <div class="content">
            <div class="successBox">
                <p class="title">
                    <img>
                    发布成功
                </p>
                <p class="text">一分耕耘一分收获</p>
                <div class="articleBox">
                    <a th:href="@{/article/{articleId}(articleId=${articleId})}" class="look">查看文章</a>
                    <a th:href="@{/update/{articleId}(articleId=${articleId})}" class="edit">编辑文章</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>